<div class="spin" *ngIf="spinner">
  <ion-spinner name="bubbles"></ion-spinner>
  <h2 style="color: white;">Cargando...</h2>
</div>

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>animales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  
    <ion-row>
    <img src="../../assets/imagenes/leon.jpg" class="imagenes" (click)="reproducirAudio(1)">
    <img src="../../assets/imagenes/jirafa.jpg" class="imagenes" (click)="reproducirAudio(2)">
    <img src="../../assets/imagenes/perro.jpg" class="imagenes" (click)="reproducirAudio(3)">
    <img src="../../assets/imagenes/mono.jpg" class="imagenes" (click)="reproducirAudio(4)">
    <img src="../../assets/imagenes/gato.jpg" class="imagenes" (click)="reproducirAudio(5)">
  </ion-row>

    <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="cambiarNombres(3)" id="bPorA">
        <img src="../../assets/imagenes/portugal.png" class="imgFab">
      </ion-fab-button>
    </ion-fab>
  
    <ion-fab  vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="cambiarNombres(2)" id="bIngA">
          <img src="../../assets/imagenes/inglaterra.png" class="imgFab">
        </ion-fab-button>
      </ion-fab>
  
      <ion-fab  vertical="bottom" horizontal="start" slot="fixed">
          <ion-fab-button (click)="cambiarNombres(1)" id="bEspA">
            <img src="../../assets/imagenes/españa.jpg" class="imgFab">
          </ion-fab-button>
        </ion-fab>

</ion-content>
