<div class="spin" *ngIf="spinner">
  <ion-spinner name="crescent"></ion-spinner>
  <h2 style="color: white;">Cargando...</h2>
</div>

<ion-header>
    <ion-toolbar>
      <ion-title style="color: white;">Resultados</ion-title>
      <ion-buttons slot="start">
        <ion-back-button (click)="irMenu()">
          
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
 

<ion-content padding class="juego">

  <ion-list>
    <ion-list-header>Mejores Puntajes</ion-list-header>
    <ion-item *ngFor="let pu of puntajes">
      {{pu.usuario}}
      {{pu.puntaje}}
    </ion-item>

  </ion-list>
</ion-content>
