<div class="row">
  <div class="col-md-12">
      <h1>Actor:</h1>
      <select name="act" id="act" class="ok" (change)="cambioSelect()" [(ngModel)]="actor">
        <option *ngFor="let actor of estrellas">{{actor.apellido}}</option>
      </select><br>
      <table class="tabla" cellspacing="0" style="text-align: center">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Tipo</th>
                  <th>Fecha de Estreno</th>
                  <th>Cantidad de Publico</th>
                  <th>Foto de Pelicula</th>
                  <th>Actor Principal</th>
              </tr>
          </thead>
          <tbody style="text-align: center" *ngFor="let peli of info">
              <tr>
                  <td>{{peli.id}}</td>
                  <td>{{peli.nombre}}</td>
                  <td>{{peli.tipo}}</td>
                  <td>{{peli.fechaEstreno}}</td>
                  <td>{{peli.cantidadPublico}}</td>
                  <td><img class="imagenDeMenu"  src="{{peli.fotoPelicula}}"></td>
                  <td>{{peli.actorPrincipal}}</td>
                  <td style="text-align: center; padding-top: 4.5%;">
                  </td>
              </tr>
          </tbody>
      </table>

     <!-- <button routerLink="/buscador">Buscar Pelicula</button>-->
  </div>
</div>

