<div class="spin" *ngIf="spinner">
  <ion-spinner name="dots"></ion-spinner>
  <h2 style="color: white;">Cargando...</h2>
</div>


<ion-header>
  <ion-toolbar color="danger">
    <ion-button (click)="sacarFoto(tipoImg)">Sacar Foto</ion-button>

    <ion-button (click)="graficar()">Graficos</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

<ion-segment color="danger" [(ngModel)]="galleryType">
    <ion-segment-button (click)="leer(tipoImg)" value="todasFotos">
      <ion-label style="color: white;">Lista de fotos</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="leerUsuario(tipoImg)" value="misFotos">
      <ion-label style="color: white;">Mis fotos</ion-label>
    </ion-segment-button>
</ion-segment>

<div [ngSwitch]="galleryType">
  <ion-grid *ngSwitchCase="'todasFotos'" fixed>
    <ion-slides class="slider" pager="true" [options]="slideOpts" zoom #slideWithNav>
      <ion-slide class="slider-slides" *ngFor="let imagen of imagenesUrl; let i = index">
        <ion-card style="background-color: white;">
            <ion-item>
              <h2>{{nombresUsers[i]}}</h2>
            </ion-item>
            
            <img [src]="imagen" ><!-- id="myimg"-->

            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div (click)="likear(i)">{{likes[i]}} Likes</div>
                </button>
              </ion-col>
            </ion-row>
            <br>
            <br>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</div>

<div [ngSwitch]="galleryType">
    <ion-grid *ngSwitchCase="'misFotos'" fixed>
      <ion-slides class="slider" pager="true" [options]="slideOpts" zoom #slideWithNav>
        <ion-slide class="slider-slides" *ngFor="let imagen of imagenesUrl; let i = index">
          <ion-card style="background-color: white;">
              <ion-item>
                <h2>{{nombresUsers[i]}}</h2>
              </ion-item>
              
              <img [src]="imagen" ><!-- id="myimg"-->
  
              <ion-row>
                <ion-col>
                  <button ion-button icon-start clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div (click)="likear(i)">{{likes[i]}} Likes</div>
                  </button>
                </ion-col>
              </ion-row>
              <br>
              <br>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-grid>
  </div>

</ion-content>
