<div class="spin" *ngIf="spinner">
  <ion-spinner name="dots"></ion-spinner>
  <h2 style="color: white;">Cargando...</h2>
</div>

<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
      
  <ion-card *ngIf="imgT" style="background-color: white;">
    <ion-card-header>
      Bar Chart
    </ion-card-header>
    <ion-card-content>
     <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>
      
  <ion-card *ngIf="!imgT" style="background-color: white;">
    <ion-card-header>
      Doughnut Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>

<ion-button size="large" routerLink="/" color="danger">Volver a la pagina principal</ion-button>
</ion-content>
