
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import './theme/variables.scss';


@keyframes shake {
  0% { margin-left: 0 }
  12% { margin-left: 0 }
  25% { margin-left: -10px }
  50% { margin-left: 10px }
  75% { margin-left: -10px }
  87% { margin-left: 0 }
  100% { margin-left: 0 }
}

.spin{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}
ion-spinner {
  width: 48px;
  height: 48px;
  color: white;
  stroke: white;
  fill: white;
}

.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-image: linear-gradient(-90deg, $bg1, $bg2, $bg3);
    background-color: #ffce00;
    font-family: 'Open Sans', sans-serif;
}
