  <div class="row">
    <div class="col-md-12">
        <h3>Lista de inscriptos a la materia:</h3>
        <table class="tabla" cellspacing="0" style="text-align: center">
            <thead>
                <tr>
                <th>Nombre</th>
                <th>Cuatrimestre</th>
                <th>Alumno</th>
                </tr>
            </thead>
            <tbody style="text-align: center" *ngFor="let ins of inscrip">
                <tr>
                    <td>{{ins.nombre}}</td>
                    <td>{{ins.cuatrimestre}}</td>
                    <td>{{ins.alumno}}</td>
                </tr>
            </tbody>
        </table>
       <!-- <button (click)="cerrarListaMat.emit(false)" class="cancelbtn">Cerrar</button>-->
    </div>
</div>
