<button routerLink="/login" *ngIf="!logeado">Login</button><button *ngIf="logeado" (click)="Logout()">Logout</button><br><br>
<button routerLink="/grillaPeliculas">Listado Peliculas</button><br><br>
<button routerLink="/grillaEstrellas">Listado Actores</button><br><br>
<button routerLink="/buscador">Buscar Pelicula</button><br><br>
<button routerLink="/estrellaPelicula">Peliculas por Estrella</button><br><br>
<button routerLink="/filtroEstrellas">Filtro Estrellas</button><br><br>
<button routerLink="/detalleComponente">Detalle Componente</button><br><br>

