form {
  padding: 10px;
  background: lightgray;
}
.ok{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.contenedor
{
position: fixed;
width: 35%;
border-radius: 5px;
background-color: lightgrey;
padding: 20px;
box-sizing: border-box;
margin: 20px auto;
left: 32%;
top: 0px;
animation-name: aparecer;
animation-duration: 4s;
}
@keyframes aparecer
{
from{opacity: 0}
to{opacity: 1}
}
