<div class="spin" *ngIf="spinner">
  <ion-spinner name="crescent"></ion-spinner>
  <h2 style="color: white;">Cargando...</h2>
</div>

<ion-header>
  <ion-toolbar color="medium"> 
    <ion-title color="light">
      <p size="large" (click)="onLogout()">Salir</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card  (click)="imagenTormenta()"> 
  <ion-card-header>
    <ion-card-title style="color: white;">Batman - DC</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="../../assets/batman.jpg"></ion-img>
  </ion-card-content>
</ion-card >

<ion-card (click)="imagenMaravilla()">  
  <ion-card-header>
    <ion-card-title style="color: white;">Iron Man - Marvel</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="../../assets/ironman.jpg"></ion-img>
  </ion-card-content>
</ion-card>



</ion-content>