<div class="spin" *ngIf="spinner">
  <ion-spinner name="bubbles"></ion-spinner>
  <h2 style="color: white;">Cargando...</h2>
</div>

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>numeros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

    <ion-row>
    <img src="../../assets/imagenes/uno.jpg" class="imagenes" (click)="reproducirAudio(1)">
    <img src="../../assets/imagenes/dos.jpg" class="imagenes" (click)="reproducirAudio(2)">
    <img src="../../assets/imagenes/tres.png" class="imagenes" (click)="reproducirAudio(3)">
    <img src="../../assets/imagenes/cuatro.png" class="imagenes" (click)="reproducirAudio(4)">  
    <img src="../../assets/imagenes/cinco.png" class="imagenes" (click)="reproducirAudio(5)">
  </ion-row>

    <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="cambiarNombres(3)" id="bPorN">
        <img src="../../assets/imagenes/portugal.png" class="imgFab">
      </ion-fab-button>
    </ion-fab>
  
    <ion-fab  vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="cambiarNombres(2)" id="bIngN">
          <img src="../../assets/imagenes/inglaterra.png" class="imgFab">
        </ion-fab-button>
      </ion-fab>
  
      <ion-fab  vertical="bottom" horizontal="start" slot="fixed">
          <ion-fab-button (click)="cambiarNombres(1)" id="bEspN">
            <img src="../../assets/imagenes/españa.jpg" class="imgFab">
          </ion-fab-button>
        </ion-fab>
</ion-content>
