<div class="spin" *ngIf="spinner">
  <ion-spinner name="lines"></ion-spinner>
  <h2 style="color: white;">Cargando...</h2>
</div>

<ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Iniciar sesión</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>

      

      <ion-col text-center>
        <div><img src="../../assets/imagenes/usuario.png" height="45%" width="60%"></div>
      </ion-col>
      <br>
      <ion-label>
        Usuario
      </ion-label>
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
      <ion-label>
        Contraseña
      </ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>

      <ion-button size="large" color="secondary" (click)="onLogin()">Entrar</ion-button>
      <ion-button size="large" color="secondary" routerLink="/register">Registrarse</ion-button>

    <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="secondary" (click)="LoginTester()" id="bPor">
        Tester
      </ion-fab-button>
    </ion-fab>
  
    <ion-fab  vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button color="secondary" (click)="LoginAdmin()" id="bIng">
          Admin
        </ion-fab-button>
      </ion-fab>
  
      <ion-fab  vertical="bottom" horizontal="start" slot="fixed">
          <ion-fab-button color="secondary" (click)="LoginInvitado()" id="bEsp" class="borde">
            Invitado
          </ion-fab-button>
        </ion-fab>

        <ion-fab  vertical="center" horizontal="start" slot="fixed">
          <ion-fab-button color="secondary" (click)="LoginUsuario()" id="bEsp" class="borde">
            Usuario
          </ion-fab-button>
        </ion-fab>

        <ion-fab  vertical="center" horizontal="end" slot="fixed">
          <ion-fab-button color="secondary" (click)="LoginAnonimo()" id="bEsp" class="borde">
           Anonimo
          </ion-fab-button>
        </ion-fab>

  </ion-content>
  