.borde
{
    border-style: solid;
    border-radius: 50%;
    border-width: 20px;
    border-color: #f53d3d;
    
}

ion-content.background
{
    --background: url("../../assets/imagenes/fondo.jpg")0 0/100% 100% no-repeat;
}
