<form class="contenedor" id="form" style="padding: 50px;">

        <h2>Alta Estrella:</h2>
        Nombre:<br>
        <input type="text" name="nomb" id="nomb" class="ok" [(ngModel)]="nombre">
        Apellido:<br>
        <input type="text" name="ape" id="ape" class="ok" [(ngModel)]="apellido">
        Nacionalidad:<br>
        <input type="text" name="nac" id="nac" class="ok" [(ngModel)]="nacionalidad">
        Fecha de Nacimiento:<br>
        <input type="date" name="fech" id="fech" class="ok"[(ngModel)]="nacimiento">
        <br>
        <button class="cancelbtn" (click)="cerrarAltaEstr.emit()">Cerrar</button>
        <button class="aceptbtn" (click)="crear()" >Agregar</button>
    
    </form>